@import "tailwindcss";

*{
    overflow-x: hidden;

}
/* body{
    background: #0f0f0f;
} */
h1,h2{
    overflow-y: hidden;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
li{
    overflow-y: hidden;
}